*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
body{background: #fcfcfc;}
/*头部*/
header{
	width: 1214px;
	height: 48px;
	padding: 16px 75px;
	background: #FFF;
	border: 1px solid #e1e1e1;
}
.header-logo{
	display: block;
	float: left;
	width: 54px;
	height: 48px;
}
.header-rg{
	float: right;
	line-height: 18px;
	font-family: "SimSun";
	color: #999;
	font-size: 12px;
}
.header-login{
	display: block;
	margin-top: 5px;
	width: 310px;
}
a.blue_link:hover,.header-rg a:hover{
	color: #C91B2B;
}
.header-help{
	float: right;
	position: relative;
	margin-left: 25px;	
}
.header-help img{
	vertical-align: middle;
}
a.help{
	display: block;
	width: 88px;
	color: #000000;
	padding-right: 18px;
	padding: 3px 4px;
	border: 1px solid #FFFFFF;
	background: url(../images/turnb.png) no-repeat right 4px;
}
.a-help{
	border: 1px solid #D7D7D7 !important;
	border-bottom: 1px dotted #D7D7D7 !important; 
}
.header-help ul{
	display: none;
	position: absolute;
	border: 1px solid #D7D7D7;
	border-top: none;
	background: white;
}
.header-help ul li{
	height: 23px;
	width: 96px;
	line-height: 23px;
	text-align: center;
	border-bottom: 1px dotted #D7D7D7;	
}

/*主内容*/
section{
	padding: 26px 0px;
	/*background-color: #fcfcfc;*/	
}
.main{
	width: 980px;
	margin: 0 auto;
}
.main-lf{
	float: left;
	margin-top: 45px;
	width: 510px;
	height: 315px;
}
.main-rg{
	float: left;
	background: white;
	margin-left: 60px;
	width: 330px;
	height: 360px;
	padding: 45px 35px 0px 35px;
}
.main-login h3{
	font-size: 14px;
	float: left;
	color: #666;
	line-height: 30px;
}
.regist-new{
	font-size: 13px;
	float: right;
	line-height: 30px;
}
a.regist-new:hover{color: #C91B2B;}
.input{
	border: none;
	outline: none;
	text-indent: 1em;
	height: 40px;
	width: 230px;
	font-size: 16px;
	color: #666;
}
.txtname,.txtpsd{
	padding: 7px 18px;
	border: 1px solid #dedede;
	line-height:40px;
	margin-bottom: 15px;
}
.txtname img,.txtpsd img{
	vertical-align: middle;
}
.main-rg p {
	font-size: 12px;
	color: #999;
}
a.check-agreement{
	display: block;
	float: left;
	padding-top: 0px;
	padding-left: 20px;
	color: #999;
}
.ag-normol{
	background: url(../images/loadFalse.png) no-repeat 0px 1px;
}
.ag-normol:hover{
	background: url(../images/loadTrue.png) no-repeat 0px 1px;
}
.ag-check{
	background: url(../images/gou.png) no-repeat 0px 1px;
}
.check-tip{
	display: none;
	line-height: 13px;
	margin-left: 15px;
	color: red;
}
a.forget-psd{
	float: right;
	color: #999;
}
.btnLogin{
	width: 330px;
	height: 52px;
	border: none;
	outline: none;
	background-color: #ff3c3c;
	color: white;
	font-size: 16px;
	cursor: pointer;
	margin: 10px 0px;
}
.login-more a img{
	margin-right: 15px;
	margin-top: 10px;
}
a.more-web{
	display: block;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
	float: right;
	font-size: 12px;
	color: #999;
}
.more-web img{
	width: 17px;
	height: 17px;
	margin: 0 !important;
	vertical-align: middle;
	padding-left: 5px;
}
.more-web-link{display: none;}
.more-web-link img{
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}

/*页脚*/
footer{
	width: 980px;
	margin: 0 auto;
	font-size: 12px;
	color: #333;
	text-align: center;
}
footer a{
	margin: 5px 5px;
	color: #333;
}
footer a:hover{color: #C91B2B;}
