*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
/*顶部导航条*/
.top-bar{
	width: 100%;
	height: 30px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #e5e5e5;
	line-height: 30px;
}
.top-bar-main{
	width: 1228px;
	margin: 0 auto;
	font-size: 12px;
}
.tb-left{
	float: left;
}
.tb-left a:link,.tb-left a:visited{
	text-decoration: none;
	color: #666;
}
.tb-left a:hover{
	color: #ff4040;
}
.tb-right{
	float: right;
}
.tb-right a{
	color: #666;
	display: block;
}
.tb-right a:hover{
	color: #ff4040;
}
.tb-li-fist{
	color: #666;
	float: left;
	width: 80px;
	text-align: center;	
}
.tb-li-mob{position: relative;}
.app-code p{
	height: 20px;
	line-height: 20px;
}
.app-code{
	position: absolute;
	display: none;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	padding: 0px 9px;
}
.tb-li-login{
	width: 130px !important;
}
.tb-li-login span{
	float: left;
	margin-right: 5px;
}
a.tb-login:link,a.tb-login:visited{
	color: #ff4040;
	float: left;
}
a.tb-regiest{
	margin-left: 7px;
}
a.tb-regiest:link,a.tb-regiest:visited{
	color: #aaa;
	float: left;
}
a.tb-regiest:hover{
	color: #ff4040;
}
.tb-ul-second{
	display: none;
	position: fixed;
	width: 78px;
	background: white;
	border: 1px solid #e5e5e5;
	border-top: none;
}
a.li-service{
	display: block;
	background: url(../images/t_arrow.gif) no-repeat 65px 13px;
}
a.li-service-h{
	display: block;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background: white url(../images/t_arrow.gif) no-repeat 65px 13px;
}
.tb-follow{
	width: 125px !important;
}
.tb-follow img{
	cursor: pointer;
	vertical-align: middle;
}

/*头部*/
header{
	width: 1228px;
	height: 150px;
	margin: 0 auto;
}
.header{
	height: 72px;
	padding: 30px 0px;
}
/*头部左边区*/
.hd-left{
	float: left;
}
a.hd-logo{
	display: block;
	float: left;
	width: 210px;
	height: 72px;
	background: url(../images/logo.png) no-repeat;
}
/*头部搜索区*/
.hd-search{
	float: left;
	margin-left: 68px;
	margin-top: 10px;
}
.txtsearch{
	width: 400px;
	height: 35px;
	float: left;
	border: 2px solid #ff4040;
	outline: none;
	color: #666;
	text-indent: 1em;
}
.subsearch{
	float: left;
	width: 70px;
	height: 39px;
	color: white;
	font-size: 16px;
	background: #ff4040;
	cursor: pointer;
	border: none;
	outline: none;
}
.hd-search ul li{
	float: left;
	padding-top: 3px;
	font-size: 13px;
}
.hd-search ul li a{
	padding-right:10px;
	
	color: #666;
}
/*头部右边区*/
.hd-right{
	float: left;
	position: relative;
	width: 130px;
	height: 20px;
	padding: 9px 0;
	margin-left: 220px;
	margin-top: 5px;
	border: 1px solid #d7d7d7;
	background: #D7D7D7;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
}
.hd-right a{
	display: block;
	color: #666;
	background: url(../images/car.png) no-repeat 10px 3px;
}
/*购物车*/
.buycar{
	position: absolute;
	display: none;
	top: 40px;
	width: 285px;
	border: 1px solid #D7D7D7;
	border-top: 3px solid #C91B2B;
	padding: 0 10px 5px 5px;
	box-shadow: #666 0px 0px 10px;
	background-color: white;
	z-index: 1000;
}
.buycar-shop{
	border-bottom: 1px solid #AAAAAA;
}
.buycar-title h4{
	height: 30px;
	line-height: 30px;
	background: #E5E5E5;
	font-size: 14px;
	text-align: left;
}
.buycar-delect{
	display: block;
	width: 15px;
	height: 15px;
	line-height: 14px;
	color: white;
	margin-left: 9px;
	margin-top: 5px;
	cursor: pointer;
	background-color: #AAAAAA;
	border-radius: 10px;
	border: 1px solid #D7D7D7;
}
.buycar-title span{
	float: right;
	font-size: 12px;
	color: #666;
}
.buycar-lf{
	float: left;
	margin-right: 10px;
}
.buycar-lf img{
	width: 90px;
	width: 90px;
}
.buycar-rg{
	float: left;
}
.buycar-rg p:nth-of-type(1){
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
}
.buycar-rg p span{
	float: right;
}
.buycar-rg p:nth-of-type(2){
	font-size: 12px;
	color: #666;
	text-align: left;
	height: 25px;
	line-height: 25px;
}
.buycar-minus,.buycar-plus{
	float: left;
	display: block;
	width: 25px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #D7D7D7;
	background: #E5E5E5;
	text-align: center;
	cursor: pointer;
}
.buycar-num{
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #D7D7D7;
	background: white;
}
.buycar-price{
	float: right;
	color: #C91B2B;
	font-weight: bold;
}
.buycar-foot{
	font-size: 12px;	
	text-align: left;
	color: #666;	
}
.buycar-foot p{
	background: #ffe3e8;
	padding-left: 10px;
}
/*主内容*/
.main{
	width: 1228px;
	margin: 0 auto;
	position: relative;
}
/*导航*/
nav{
	float: left;
	position: absolute;
}
nav ul{display: none;}
nav ul li{
	height: 39px;
	width: 205px;
	font-size: 13px;
	line-height: 32px;
	color: white;
	background-color: #c91b2b;
}
nav ul li a{
	display: block;
	width: 190px;
	height: 39px;
	line-height: 32px;
	color: white;
	padding: 0 10px;
}
nav ul li img{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 10px;
}
nav ul li span{
	float: right;
	margin-right: 5px;
}
.allgoods{
	display: block;
	width: 185px;
	height: 39px;
	line-height: 32px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	padding-left: 20px;	
	background-color: #ff4040;
}
/*导航列表们*/
.li-list{
	display: none;
	position: absolute;
	height: 418px;
	background-color: white;
	left: 206px;
	top: 39px;
	z-index: 1000;
	padding: 0px 0px 0px 20px;	
	float: left;
	width: 943px;
	box-shadow: #666 0px 0px 10px;
}
.li-1,.li-2,.li-3,.li-4,.li-5,.li-6,.li-7,.li-8,.li-9,.li-10{display: none;}

.li-1 ul,.li-2 ul,.li-3 ul,.li-4 ul,.li-5 ul,
.li-6 ul,.li-7 ul,.li-8 ul,.li-9 ul,.li-10 ul{
	height: 37px;
	line-height: 37px;
	width: 600px;
	float: left;
	border-bottom: 1px dotted #D7D7D7;
}
.li-list ul li a{
	display: block;
	float: left;
	margin-right: 13px;
	font-size: 12px;
	color: #666;	
}
.li-list ul li a:hover{font-weight: bold;}
.li-title {
	padding-right: 0px !important;
	margin-right: 10px;
}
.li-title a{
	display: block;
	font-weight: bold;
	border-bottom: 1px solid white!important;
}
.li-imgs{
	float: left;
	width: 320px;
}
.li-1-lf{
	float: left;
	width: 610px;
	border-right:1px dotted #D7D7D7;
}

/*中间部分*/
.md-top{
	float: left;
	width: 1023px;
	height: 38px;
	line-height: 35px;
	margin-left: 205px;
	border-bottom: 1px solid #C91B2B;
}
.md-top ul li{
	float: left;
	width: 85px;
	text-align: center;
}
.md-top a:link,.md-top a:visited{
	color: #666;
}
.md-top a:hover{
	color: #ff4040;
}
.md-phone{
	float: right;
	font-size: 15px;
}

/*面包导航*/
.crumb ul li{
	float: left;
	height: 30px;
	margin-right: 10px;
	margin-top: 10px;
	line-height: 30px;
	font-size: 14px;
}
.crumb ul li a{
	color: #666;
}
.crumb ul li a:hover{color: #C91B2B;}
.crumb-now{
	border: 1px dotted #C91B2B;
	margin-top: 10px;
	padding: 0 5px;
}
.crumb-now span{
	font-style: italic;
	color: #FF0000;
}


/*选择品牌*/
table{
	border: 2px solid #e5e5e5;;
	width: 1200px;
	margin: 15px 0px;
	font-size: 14px;
}
td{
	border-bottom: 1px dotted #e5e5e5;
	padding-left: 10px;
}
tr{	
	height: 40px;
}
.tr-brand{
	height: 90px;
}
.tr-brand td{
	line-height: 30px;
}
.td-lf{
	width: 170px;
	text-align: center;
	background-color: #f8f8f8;
}
td ul li{
	float: left;
	margin-right: 20px;
}
td ul li a{color: #666;}
td ul li a:hover{color: #FF0000;}

section{
	width: 1228px;
	margin: 0 auto;
}
/*浏览记录*/
.history{
	width: 230px;
	float: left;
	border: 1px solid #e5e5e5;
}
.hy-title{
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 10px;
	color: #FF0000;
}
.hy-delect{
	display: block;
	cursor: pointer;
	font-size: 14px;
	color: #666;
	float: right;
	margin-right: 8px;
}
a.hy-img{
	display: block;
	width: 180px;
	height: 180px;
	margin: 5px auto;
}
.hy-goods p{text-align: center;}
.hy-price{color: #C91B2B;font-weight: bold;}

/*商品列表*/
.goods{
	float: left;
	width: 995px;
}
.goods-title{
	height: 35px;
	background-color: #f5f5f5;
	color: #666;
	font-size: 12px;
	border: 1px solid #e1e1e1;
}
.goods-title ul li{
	float: left;
	cursor: pointer;
	height: 35px;
	line-height: 35px;
	width: 60px;
	text-align: center;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
}
.li-hover{
	color: #ff4040;
	background-color: #FFFFFF !important;
	border-color: #e1e1e1 !important;
}
.arrow{
	background: url(../images/arrow-down.png) no-repeat 43px 10px;
}
.arrow-hover{
	background: url(../images/arrow-down-h.png) no-repeat 43px 10px;
}

.gm-goods{
	width: 226px;
	float: left;
	font-size: 12px;
	padding: 10px 10px;
	border: 1px solid white;
}
.gd-describe{
	width: 226px;
	height: 36px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 5px 0px;
}
.gd-describe a{
	color: #333;
}
.gd-describe a:hover{color: #FF0000;}
.gd-price{
	font-family: "Century Gothic";
	font-size: 18px;
	color: #e60012;
	font-weight: bold;
}
.adcar{
	display: block;
	width: 90px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background-color: #ff5c4d;
	border: 1px solid #ff4141;
	color: #FFFFFF;	
}
a.adcar:hover{background-color: #fb3a29;}
a.shop{color: #666;}


/*页脚*/
footer{
	width: 1228px;
	margin: 20px auto;
	margin-top: 70px;
}
.ft-service a{
	float: left;
	display: block;
	width: 140px;
	text-align: center;
	margin: 0 80px;
}
.ft-service p{
	font-size: 15px;
	color: black;
}
.ft-service span{
	font-size: 13px;
	color: black;
}
.ft-link{
	margin-top: 20px;
	border-top: 1px solid #D7D7D7;
	padding: 20px 0px;
}
.ft-link-lf {
	float: left;
	padding-left: 40px;
}
.ft-link-lf ul{
	float: left;
	width: 195px;
}

.ft-link-lf ul li{
	color: #666;
	font-size: 12px;
	height: 24px;
	line-height: 34px;
}
.ft-link-lf ul li a{color: #666;}
.ft-link-lf ul li a:hover{color: #C91B2B;}
.ft-link-lf ul li:first-child{
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	font-weight: bold;
}
.ft-link-rg{
	float: left;
}
.ft-link-rg-imgs{
	width: 134px;
	float: left;
	margin-right: 15px;
}
.ft-link-rg-mob{
	float: left;
}
.ft-link-rg-mob a{
	display: block;
	height: 26px;
	color: #666;
	margin-bottom: 10px;
}
.ft-link-rg-mob img{vertical-align: middle;}
.ft-link-rg-mob span{padding-left: 5px;}
.ft-link-rg-mob p{padding-top: 10px;}
.ft-link-rg-mob p:first-child{
	color: #000000;
	font-size: 14px;
}
.ft-link-rg-mob p:last-child{
	color: #C91B2B;
	font-size: 18px;
}
.ft-hrefs{
	font-size: 12px;
}
.ft-hrefs p{
	text-align: center;
	color: #666;
	margin-top: 10px;
}
.ft-hrefs a{
	color: #666;
	margin: 0 5px;
}
.ft-hrefs a:hover{color: #C91B2B;}